<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reddit Analytics</h1>
    <h2>Last 3 hours analytics of Django Sub-Reddit</h2>

    <h3>Submissions</h3>
    <ul>
    {% for submission in submissions %}
        <li>{{ submission.author }} Posted {{ submission.count }} time{{ submission.count|pluralize:"s" }}</li>
    {% endfor %}
    </ul>

    <br>
    <br>
    <h3>Comments</h3>
    <ul>
    {% for comment in comments %}
        <li>{{ comment.author }} Commented {{ comment.count }} time{{ comment.count|pluralize:"s" }}</li>
    {% endfor %}
</ul>
</body>
</html>